<div class="container">
    <h1>Skills</h1>
    <div id="addForm">
        <input class="name" [(ngModel)]="model.name" placeholder="Add another skill...">
        <span *ngFor="let r of validRatings">
            <input type="radio" id="rating{{r}}" value="{{r}}" [(ngModel)]="model.rating" class="toggle">
            <label for="rating{{r}}" [ngClass]="r == model.rating ? 'btn number btn-primary' : 'btn number btn-outline-secondary'">{{r}}</label>
        </span>
        <button class="btn btn-success w60" (click)="addSkill()">Add</button>
    </div>
    <div id="skillsList">
        <ul>
            <li *ngFor="let skill of skills">
                <span class="name">
                    {{skill.name}}
                </span>
                <span>
                    <span *ngFor="let r of validRatings">
                        <span [ngClass]="r == skill.rating ? 'btn number btn-primary' : 'btn number btn-outline-secondary'">{{r}}</span>
                    </span>
                </span>
                <span class="w60">
                    <button class="btn btn-primary btnDelete" (click)="removeSkill(skill.id)">&nbsp;</button>
                </span>
            </li>
        </ul>
    </div>
</div>
